body {
    font-size: 18px;
    font-family: monospace;
}
header, footer {
    background-color: aqua;
}
.site-title {
    color: aqua;
}
#my-photo {
    
    box-shadow: 0 0 2px 1px black;
}
ul {
    list-style-type:square;
}
ul li:nth-child(odd) {
    background-color: aqua;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    background-color: lightgray;
    border: 1px solid black;
}
